
training/images1/

training/images2/

training/labels/

training/WIDER_train/images/0--Parade/

training/WIDER_train/images/1--Handshaking/

training/WIDER_train/images/10--People_Marching/

training/WIDER_train/

*.weights

*.pyc

*.74

training/

OpenLabeling/
